base32-crockford==0.3.0
boto3==1.9.92
coreapi==2.3.3
dedupe==1.9.4
defusedxml==0.6.0
django-amazon-ses==2.1.1
django-ecsmanage==2.0.1
django-extensions==2.1.9
django-jsonview==1.2.0
django-rest-auth[with_social]==0.9.5
django-rest-swagger==2.1.2
django-simple-history==2.7.2
django-spa==0.2.0
django-waffle==0.17.0
django-watchman==0.17.0
djangorestframework-gis==0.14
djangorestframework==3.11.2
flake8==3.6.0
mccabe==0.6.1
mercantile==1.1.2
pycodestyle==2.4.0
pyflakes==2.0.0
pytz==2018.7
requests==2.21.0
rollbar==0.14.6
thefuzz==0.19.0
Unidecode==1.0.23
xlrd==1.2.0
django-cors-headers==3.10.0
debugpy==1.5.1