# Compiled files
*.pyc
__pycache__/

# Terraform
.terraform
.terraform/
*.tfplan
*.tfstate
*.tfstate.backup
*.tfvars

# Ansible
deployment/ansible/roles/azavea.*
*.retry

# Vagrant
.vagrant

# JS
node_modules/
npm-debug.log
bundle.js
vendor.bundle.js
bundle.js.map
dist/
build/
yarn-error.log

# macOS
.DS_Store

# OAR
.env.backend
.env.frontend
factories.csv
*_factories.csv
