{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "indent": [2, 4, { "SwitchCase": 1, "VariableDeclarator": 2 }],
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "max-statements": [0, 10]
  }
}
