{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
    "jest/globals": true
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "indent": [2, 4, { "SwitchCase": 1, "VariableDeclarator": 2 }],
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "max-statements": [0, 10],
    "jsx-a11y/label-has-for": [2, {
      "required": {
         "every": ["id"]
      }
    }],
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-useless-path-segments": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "react/prop-types": "off",
    "react/sort-comp": "off"
  }
}
