.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.google-translate-container {
    width: 80px
}

.goog-te-gadget-simple {
    width: 0;
    height: 50px;
    width: 80px;
}

.goog-te-menu-frame {
    top: 80px !important;
    box-shadow: none !important;
}

.app-header {
    display: flex;
    justify-content: space-between;
    background: #fff;
    color: #0D1128;
    width: 100%;
    z-index: 2;
    box-shadow: 0 0.5rem 2rem 0 rgba(40, 39, 39, 0.1);
    width: 100%;
    overflow: clip;
    box-sizing: border-box;
    align-Items: center;
    font-size: 16px;
    height: 80px;
}

.app-header * {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

button.app-header-button {
    border-radius: 20px !important
}

@media only screen and (min-width: 1080px) {
    .app-header {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.app-header .header__home {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1rem;
}
@media only screen and (min-width: 1080px) {
    .app-header .header__home {
        padding: 0 1rem;
    }
}
.app-header .header__logo {
    position: relative;
    width: 6.6875rem;
}
.app-header .header__logo::before {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-bottom: 33.6134453782%;
}
.app-header .header__logo svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media only screen and (min-width: 1080px) {
    .app-header .header__logo {
        width: 7.4375rem;
    }
}

.app-header .button {
    font-family: inherit;
    cursor: pointer;
    display: inline-block;
    min-width: 12.5rem;
    padding: 1rem 2rem;
    background: #fff;
    color: #8428FA;
    border: none;
    outline: none;
    border-radius: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-size: 0.875rem;
    line-height: 1;
    text-align: center;
    transition: transform 0.1s linear;
    box-shadow: 0.5rem 0.5rem 1rem 0 rgba(40, 39, 39, 0.1);
}
.app-header .button .button__word {
    display: inline-block;
}
.app-header .button .button__arrow {
    position: relative;
    display: inline-block;
    width: 0.5625rem;
    margin-left: 0.25rem;
}
.app-header .button .button__arrow::before {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-bottom: 122.2222222222%;
}
.app-header .button .button__arrow svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.app-header .button .button__arrow path {
    fill: currentColor;
}
.app-header .button .button__download {
    position: relative;
    display: inline-block;
    width: 0.625rem;
    margin-left: 0.25rem;
}
.app-header .button .button__download::before {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-bottom: 120%;
}
.app-header .button .button__download svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.button:hover, .button:active, .button:focus {
    transform: translateY(-0.125rem);
}
.button:hover .button__arrow, .button:active .button__arrow, .button:focus .button__arrow {
    animation-name: buttonArrowOut, buttonArrowIn;
    animation-duration: 0.1s, 0.2s;
    animation-timing-function: linear;
    animation-delay: 0s, 0.2s;
    animation-fill-mode: forwards, forwards;
}
.button--white-purple {
    color: #7a6afb;
}
.button--blue {
    background: #0c46e1;
    color: #fff;
}
.button--outline {
    color: #fff;
    background: none;
    border: 0.125rem solid currentColor;
    padding: calc(0.875rem) calc(1.875rem);
}
.button--download {
    background: #0c46e1;
    color: #fff;
}

.app-header-nav {
    display: none;
    align-items: center;
}
@media only screen and (min-width: 1080px) {
    .app-header-nav {
        display: flex;
    }
}

.app-header-nav .button {
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav__link {
    font-family: inherit;
    cursor: pointer;
    display: block;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    padding: 2rem 1rem;
}
.nav__link--level-2 {
    color: #0c46e1;
}
.nav__parent-button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    display: inline-flex;
    align-items: center;
    padding: 2rem 1rem;
}
.nav__arrow-down {
    position: relative;
    width: 0.625rem;
    margin-left: 1rem;
    transition: transform 0.1s linear;
}
.nav__arrow-down::before {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-bottom: 80%;
}
.nav__arrow-down svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.nav-submenu-is-active .nav__arrow-down {
    transform: rotate(180deg);
}
.nav__submenu {
    display: flex;
    width: 100%;
    background: #fff;
    color: #282727;
    position: absolute;
    height: 0;
    overflow: hidden;
    top: 80px;
    left: 0;
    z-index: 99999999
}
@media only screen and (min-width: 1080px) {
    .nav__submenu {
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: start;
    }
    .nav-submenu-is-active .nav__submenu {
        box-shadow: 0 0.5rem 2rem 0 rgba(40, 39, 39, 0.1);
    }
}

.mobile-nav {
    width: 100%;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: -200%;
    z-index: 1;
    background: #F9F7F7;
    color: #191919;
    opacity: 0;
    height: 100%
}
.mobile-nav__item {
    border-top: 0.0625rem solid #0D1128;
}
.mobile-nav__item--button {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 1080px) {
    .mobile-nav, .mobile-nav__item, .mobile-nav__item--button {
        display: none;
    }
}
.mobile-nav__button, .mobile-nav__link {
    cursor: pointer;
    font-family: inherit;
    background: none;
    color: currentColor;
    border: none;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
}
.mobile-nav__button--level-2, .mobile-nav__link--level-2 {
    padding: 1rem;
}
.mobile-nav__back {
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    flex-shrink: 0;
    padding: 1rem;
    display: block;
    color: currentColor;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: left;
}
.mobile-nav__back-arrow {
    position: relative;
    width: 0.5625rem;
    display: inline-block;
    margin-right: 0.5rem;
}
.mobile-nav__back-arrow::before {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-bottom: 122.2222222222%;
}
.mobile-nav__back-arrow svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mobile-nav__arrow {
    position: relative;
    width: 1.5625rem;
    display: inline-block;
    margin-left: 1rem;
}
.mobile-nav__arrow::before {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-bottom: 128%;
}
.mobile-nav__arrow svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mobile-nav__submenu {
    position: absolute;
    top: 0;
    left: 100%;
    flex-shrink: 0;
    background: #FFA6D0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.mobile-toggles {
    display: flex;
}
.burger {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 1080px) {
    .burger, .mobile-auth, .mobile-toggles {
        display: none;
    }
}
.burger__icon {
    position: relative;
    width: 1.75rem;
    transition: opacity 0.2s, transform 0.2s;
}
.burger__icon::before {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-bottom: 85.7142857143%;
}
.burger__icon svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mobile-nav-is-active .burger__icon {
    opacity: 0;
    transform: scale(0.5);
}
.burger__close {
    position: relative;
    width: 1.625rem;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    transform: scale(0.5);
}
.burger__close::before {
    display: block;
    content: '';
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
.burger__close svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mobile-nav-is-active .burger__close {
    opacity: 1;
    transform: scale(1);
}
@keyframes buttonArrowOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
@keyframes buttonArrowIn {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.simple-footer {
    z-index: 30;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 51px;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background: #0D1128;
    color: #FFA6D0;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    flex-direction: row;
    align-items: center;
    line-height: 1.4;
}

.simple-footer * {
    -webkit-font-smoothing: antialiased;
}

.simple-footer a {
    color: #FFA6D0;
}
@media only screen and (max-width: 1075px) {
    .simple-footer > * + * {
        margin-top: 1rem;
    }
    .simple-footer {
        display: none
    }
}
.simple-footer__link {
    cursor: pointer;
    display: block;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    letter-spacing: 0.125rem;
    text-decoration: none;
    color:  #FFA6D0;
    margin-right: 1rem;
    line-height: 1.4;
}
.simple-footer__credit {
    display: block;
    flex-shrink: 0;
    margin-right: 4rem;
}
.simple-footer__cc {
    display: block;
    flex-shrink: 0;
    width: 4.375rem;
}
