---
- hosts: all
  become: True

  pre_tasks:
    - name: Update APT cache
      apt: update_cache=yes cache_valid_time=3600

  roles:
    - role: "open-apparel-registry.docker"
    - role: "open-apparel-registry.environment"
